input, textarea, label {
    display: block;
    width: 100%;
    font-family: "Nunito-light", sans-serif;
    font-size: var(--fontSizeXS);
    color: var(--textColor);
    margin-top: 1em;
    margin-bottom: 0.5em;
}

textarea {
    resize: none;
}

.form-contact {
    width: 70%;
    margin-left: 1em;
}