.image {
    object-fit: cover;
    width: 100%;
}

/* || Hero molecule*/
.hero {
    position: relative;
}

.hero h3 {
    font-size: var(--fontSizeL);
}

.hero-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}

.to-dark-red {
    color: var(--dark-red);
}

.to-light-blue {
    color: var(--light-blue);
}

.pacifico {
    font-family: "Pacifico", sans-serif;
}

