.sidebar_page {
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sidebar_page__banner {
    margin-bottom: 1.5em;
}

.sidebar_page__banner h2 {
    padding: 1.5em 0 1.5em 0;
    text-align: center;
}

.sidebar_page__main {
    overflow: auto;
    margin-bottom: 3em;
    overflow: hidden;
}

.sidebar_page__left {
    float: left;
    width: 75%;
}

.sidebar_page__widget {
    float: left;
    width: 20%;
    padding: 0 1em 0 1em;
}

.sidebar_page__footer {
    margin-top: auto;
}

@media screen and (max-width: 500px) {  
    .sidebar_page__main {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

       .sidebar_page__left {
        width: 100%;

    }

    .sidebar_page__widget {
        display: none;
    }
}